service: renalizapp-2023

custom:
  myStage: ${opt:stage, self:provider.stage}
  myEnvironment:
    project:
      prod: "renalizapp-2023"
      dev: "renalizapp-dev-2023-396503"

package:
  patterns:
    - '!node_modules/**'
  excludeDevDependencies: true

provider:
  name: google
  runtime: nodejs16
  stage: ${opt:stage, 'dev'}
  project: ${self:custom.myEnvironment.project.${self:custom.myStage}}
  credentials: ${env:CREDENTIALS_PATH}
  labels:
    application: renalizapp-api

plugins:
  - serverless-google-cloudfunctions

functions:
  uploadBlogs:
    handler: uploadBlogs
    events:
      - http: true
  getAllBlogs:
    handler: getAllBlogs
    events:
      - http: true
    labels:
      team: gcf-team
  getTestById:
    handler: getTestById
    events:
      - http: true
    labels:
      team: gcf-team
  postTestResults:
    handler: postTestResults
    events:
      - http: true
    labels:
      team: gcf-team
  postRegister:
    handler: postRegister
    events:
      - http: true
    labels:
      team: gcf-team
  getUserByUid:
    handler: getUserByUid
    events:
      - http: true
    labels:
      team: gcf-team
      getTestsByUid:
    handler: handlers.getTestsByUid 
    events:
      - http: true
    labels:
      team: gcf-team
